<template>
  <div class="main">
    <myheader></myheader>
      <h1>
        <span class="break-down">mikata </span>
        <span>P</span>
        ort
        <span>fo</span>
        lio
        <span> Si</span>
        te
      </h1>
    <div id="info"><br>
      <section class="info1">
        <h2>information</h2>
        <ul class="center">
          自宅学習のポートフォリオサイトです<br>
          三方<br>
          (株)ALH 2019.10入社<br>
          site since 2020.07<br>
        </ul>
      </section>
    </div>
    <section class="works1"><h2>works</h2></section>
    <div class="works" id="works">
      <div class="work1">
        <a href="https://onigiri.netlify.app/">
        <img src="./onigiri_hp.jpg" alt="" width="300" height="226"></a>
          <div class="caption">HTML CSS JavaScript</div>
      </div>
      <div class="work2">
        <a href="https://todolist-mi.netlify.app/">
        <img src="./todolist.jpg" alt="" width="300" height="226"></a>
        <div class="caption">HTML CSS JavaScript Vue.js</div>
      </div>
    </div>
    <div id="contact"><br>
      <form action="/" method="post">
        <div>
          <label for="name">お名前</label>
          <input type="text" id="name" name="your-name">
        </div>
        <div>
          <label for="email">メールアドレス</label>
          <input type="email" id="email" name="your-email">
        </div>
        <div>
          <label for="message">メッセージ</label>
          <textarea id="message" name="your-message"></textarea>
        </div>
        <input type="submit" class="button" value="送信">
      </form>
    </div>
    <myfooter></myfooter>
  </div>
</template>

<script>
import myheader from './components/myheader'
import myfooter from './components/myfooter'

export default {
  components: {
    myheader,
    myfooter
  },
  created () {
    fetch('http://www.geonames.org/postalCodeLookupJSON?postalcode=10504&country=US').then(response => { return response.json() }).then(json => {
      this.msg = json.postalcodes[0].adminName1
    })
      .catch((err) => { this.msg = err })
  }
}
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Amatic+SC|Kaushan+Script|Noto+Sans+JP&display=swap');
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    font-family: 'Noto Serif JP', serif;
}
  .main {
    background-image: url('main_bg.jpg');/*背景画像*/
    background-attachment: fixed;/*画面からの相対位置（背景固定）*/
    background-size: cover;
  }

  body {
    line-height: 1.7;
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 13px;
    color: #000;
}
  .works {
    display: grid;
    gap: 26px;
    grid-template-columns: 5fr 1fr 1fr;
    margin-bottom: 100px;
  }
h1 {
  display: flex;
  height: 56px;
  font-size: 56px;
  color: #ffff00;
  animation: neonBlur 16s infinite;
  font-weight: 300;
  margin-bottom: 200px;
}
h1 > span:nth-child(1) {
  opacity: .5;
  font-weight: 800;
}
h1 > span:nth-child(2) {
  animation: neonBlink 5s infinite;
}
h1 > span:nth-child(3) {
  opacity: .4;
}
h1 > span:nth-child(4) {
  animation: neonBlink 2s infinite;
}
@keyframes neonBlink {
  0% { opacity: 1; }
  10% { opacity: .6; }
  12% { opacity: 1; }
  15% { opacity: .4; }
  17% { opacity: 1; }
  18% { opacity: .3; }
  19% { opacity: 1; }
  89% { opacity: 1; }
  91% { opacity: .7; }
  94% { opacity: 1; }
  100% { opacity: 1; }
}
@keyframes neonBlur {
  0% { text-shadow: 0px 0px 25px #FF0080; }
  50% { text-shadow: 0px 0px 75px #FF0080; filter: blur(0.5px) }
  100% { text-shadow: 0px 0px 25px #FF0080; }
}

form div {
    margin-bottom: 14px;
}
label {
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
    color: #00000;
}
input[type="text"],
input[type="email"],
textarea {
    background: rgba(255,255,255,.5);
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
input[type="text"],
input[type="email"] {
    width: 100%;
    max-width: 240px;
}
textarea {
    width: 100%;
    max-width: 480px;
    height: 6rem;
}
input[type="submit"] {
    border: none;
    cursor: pointer;
    line-height: 1;
}

.info1,.caption,form {
    margin: 3em auto;
    width: 80%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin-bottom: 300px;
}
.works1 {
    margin: 3em auto;
    width: 80%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}
section h2,label {
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
}
</style>
